<div class="question">
  <p><%= @question %></p>
  <p class="author">You</p>
</div>

<div class="block-answer">
  <p class="answer"><%= @answer %></p>
  <p class="author">Your coach</p>
</div>

<%= link_to "Ask a new question", :ask %>



