<form action="/answer" method="get">
  <label>Ask your coach anything:</label><br />
  <input class="input-text" type="text" name="question">
  <input class="btn-submit" type="submit" value="Ask!">
</form>
